<style>
title {}
h1 {
  color:gray;  
  background-color:#08042d;
  border-style: solid;
  border-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
#contact {
	color:#f7d391;
    text-decoration: underline;
	font-size:15px;
	text-align: right;
	font-size: 200%;

}
body { 
text-align: center;
}

p{
  margin-left:auto;
  margin-right: 3%;	 color: gray;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;}
 
 table, td, th {  

  text-decoration: underline;
  color:yellow;
  border: 1px solid orange;
  border: 2px solid orange;
}


td {
  text-align: center;
}

table{
	background-color:gray;
  width: 50%;
  text-align: center;
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
  border-color: orange;
  border: 3px solid orange;
}
img {
  margin-left:auto;
  margin-right:auto;
	
}
#imagine {  
  text-align:right;
  margin-left:auto;
  margin-right:3%;
}
#div1 { border-style: solid;
	border-color: gray;
	background-color:#e6e6f4;
		
}

#p2{
	text-align:left;
	color: SlateBlue;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
	font-size: 200%;
  
}

#p3{
	text-align:right;
	font-size: 150%;
}
li{
	text-align:right;
}
#poze {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  margin-left:4.5%;
  margin-right:4.5%;
}
#abb {
  padding: 10px;
  text-align: center;
}
#div2 { 
  background-color: SlateBlue;
	
}
#div3 { 
  text-align:left;
  font-size: 200%;
  color: SlateBlue;
}



.container {
  position:relative;

}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: black;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.mySlides,
.numbertext{
	text-align:center;
}

.container{
	background:SlateBlue;
	background-color:SlateGray;
}

</style>